.dezabonare-stergere-cursant {
  flex: 1;
  background-color: #3e5676;
  color: white;

  .top-section {
    padding: 2rem;
    text-align: center;
  }

  .bottom-section {
    padding: 1rem;
    display: flex;
    width: 100%;

    .search-student-section {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .searched-student-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 80vh;
      margin-left: 2rem;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.2);
      .student-name-and-email {
        display: flex;
        align-items: center;
        padding: .5rem;
        background-color: rgba(0,0,0,0.3);
        border-radius: 5px 5px 0 0;
      }
      .show-student-data {
        overflow-y: auto;
      }
    }
  }
}